<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>弘瑞达新闻:钢筋混凝土排水管生产工艺-银川弘瑞达工贸有限公司</title>
<meta name="description" content="">
<meta name="keywords" content="
	目前，在国内水泥制品中，大中口径钢筋混凝土排水管生产工艺主要有离心、悬辊、立式振捣、芯模振动四种工艺。我们通过对这四种工艺在生产实践中的应用，以及工艺特点的分析，发现芯模振动工艺生产钢筋混凝土排水管，在产品质量、生产效率、劳动强度、节能、环保等方面均优于其他工艺。
">
<link rel="stylesheet" type="text/css" href="static/css/metinfo_ui.css">
<link rel="stylesheet" type="text/css" href="static/css/metinfo.css">
<script src="http://www.nxhrd.net/templets/default/js/jQuery1.7.2.js" type="text/javascript"></script>
<script src="http://www.nxhrd.net/templets/default/js/metinfo_ui.js" type="text/javascript"></script>
<!--[if IE]>
<script src="../public/js/html5.js" type="text/javascript"></script>
<![endif]-->
</head>
<body>
<div id="page_header">
     <div class="metHeader inner">
	     <div class="logo fl">
<img src="static/picture/logo.png" alt="银川弘瑞达工贸有限公司">

         </div>
		 <div class="clear"></div>
		 <div class="metLang"><img src="static/picture/tel.png"></div> 
	 </div>
	 <nav class="metNav inner pr"><ul class="list-none">
	 <li id="nav_10001" style='width:139px;' class='navdown'><a href='index.html' title='网站首页' class='nav'><span>网站首页</span></a></li><li class="line"></li>
	 
	 <li id='nav_68' style='width:139px;'><a href='37.html' 0="" title='关于我们' class='hover-none nav'><span>关于我们</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_69' style='width:138px;'><a href='1.html' title='新闻资讯' class='hover-none nav'><span>新闻资讯</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_70' style='width:138px;'><a href='2.html' title='产品展示' class='hover-none nav'><span>产品展示</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_71' style='width:138px;'><a href='39.html' 0="" title='荣誉资质' class='hover-none nav'><span>荣誉资质</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_74' style='width:138px;'><a href='' title='施工流程' class='hover-none nav'><span>施工流程</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_75' style='width:138px;'><a href='38.html' title='联系我们' class='hover-none nav'><span>联系我们</span></a></li>
	 </ul></nav>

     <div class="FlashKj">
	 <div class="metFlash inner pr">
			 <div class="flash">
<script src="static/js/hd.js" type="text/javascript"></script>
</div>
		     <div class="clear"></div>
	 </div>
	 </div>

</div>
<div class="sidebar inner">
    <div class="sb_nav fl">
	     <div class="topSb_nav"></div>

			<h3 class='sbNavTitle'>栏目导航</h3>
			<div class="sbNavList" id="sidebar" data-csnow="69" data-class3="0" data-jsok="2">
			 		   
			<dl class="list-none navnow"><dt id='part2_83'><a href='181.html' class="zm"><span>关于我们</span></a></dt></dl>
			   
			<dl class="list-none navnow"><dt id='part2_83'><a href='2.html' class="zm"><span>产品展示</span></a></dt></dl>
			   
			<dl class="list-none navnow"><dt id='part2_83'><a href='1.html' class="zm"><span>新闻资讯</span></a></dt></dl>
			  
 
			<div class="clear"></div></div>

			<h3 class='sb2NavTitle line'>联系方式</h3>
			<div class="sbNavBox editor"><span style="line-height: 2;"><strong>地址：</strong>银川市金凤区植物园西五公里</span>
<div>
	<strong>电话：</strong>13323597952</div>
<div>
	<strong>手机：</strong>18909517952</div>
<div>
	<strong>联系人：</strong>陈先生</div>
<div>
	<strong>邮政编号：</strong>750011<br>
	<strong>网站：</strong>www.nxhrd.net<br>
	<strong>邮箱：</strong>lijun_7300@126.com</div>
<div class="clear"></div></div>
			<div class="sb_navB"></div>
    </div>
    <div class="sb_box fr">
		<h3 class="sb_boxTitle"><a href="1.html">新闻资讯</a></h3>
		<div class="clear"></div>

        <div class="active" id="shownews">
            <h1 class="title">弘瑞达新闻:钢筋混凝土排水管生产工艺</h1>
            <div class="editor"><div>
	目前，在国内水泥制品中，大中口径钢筋混凝土排水管生产工艺主要有离心、悬辊、立式振捣、芯模振动四种工艺。我们通过对这四种工艺在生产实践中的应用，以及工艺特点的分析，发现芯模振动工艺生产钢筋混凝土排水管，在产品质量、生产效率、劳动强度、节能、环保等方面均优于其他工艺。</div>
<div>
	&nbsp;</div>
<div>
	下面我们来分析一下四种工艺的特点：</div>
<div>
	&nbsp;</div>
<div>
	一、离心工艺的特点</div>
<div>
	&nbsp;</div>
<div>
	在离心成型过程中，管模连同混凝土在离心机上以一定的旋转速度转动，混凝土在离心力作用下分布于管模内表面并形成密实的结构，这种以离心法成型的混凝土称为离心混凝土。</div>
<div>
	&nbsp;</div>
<div>
	离心混凝土的基本特点是，由于离心力的作用使混凝土中的固相粒子沿着离心方向沉降，与此同时将多余的水分排出，从而形成密实的混凝土结构，由于混凝土系由多种固相组分组成，在离心力作用下其沉降速度各不相同，因而又造成混凝土的分层现象，内壁是水泥浆层，靠外壁是混凝土层，中间夹着一层水泥砂浆，这种分层现象是在混凝土离心过程中发生的。其缺点是混凝土产生内外分层，破坏原设计混凝土级配，降低强度，其强度比普通砼强度降低6%以上，内壁水泥浆层强度降低更大，由于内壁水泥浆层水灰比大、强度低、因而耐磨性能差，水泥浆收缩大，放置时间一长，内壁容易出现裂缝。离心工艺自动化程度低、劳动强度大、能耗高，生产过程中产生废浆液污染环境。</div>
<div>
	&nbsp;</div>
<div>
	二、悬辊工艺的特点</div>
<div>
	&nbsp;</div>
<div>
	悬辊工艺混凝土是在辊轴的辊压力的作用下密实的。其工艺缺点是，混凝土料层厚度很难掌握，制管时填料必须超厚即混凝土厚超过管模的档圈才能得到辊压，一般要求管子的成品应超厚2-3mm，这是很难掌握的。又由于管模在使用中档圈的磨损，造成管壁厚度误差较大，在填料厚度不均匀的情况下，辊压力的大小也不同，混凝土的密实度不同，强度波动较大，其次，在管子成型时，混凝土受到的机械辊压力很大，对钢筋骨架形成相当大的破坏力，容易造成钢筋骨架上下位移，对比一下粉煤灰砌块机。钢筋位置不准确，钢筋表面出现贯通空穴，降低钢筋握裹力，严重的会造成钢筋骨架散架、跳筋、并筋，严重影响管材结构强度，由于钢筋表面空穴的存在，其抗渗性能也较差。悬辊工艺自动化程度低、劳动强度大、能耗高。</div>
<div>
	&nbsp;</div>
<div>
	三、立式振捣工艺特点</div>
<div>
	&nbsp;</div>
<div>
	由于该工艺采用高水灰比塑性混凝土，人工用振动棒分层振捣密实，容易出现过振或漏振现象，造成管体混凝土强度不均匀，由于采用的是流动性较大的塑性混凝土，所以很难把管体混凝土强度做得很高，而且立式振捣的管子上部水分多，集料少，均质性差，插口端面强度低，平整度差，配筋稠密处振捣不密实，在顶管施工时，经常发生管子顶裂，此外，由于管子的几何尺寸偏差大，端面不平整，顶力传递不良。立式振捣工艺自动化程度低、劳动强度大、生产效率低。</div>
<div>
	&nbsp;</div>
<div>
	四、芯模振动工艺特点</div>
<div>
	&nbsp;</div>
<div>
	芯模振动工艺的特点是，管体混凝土采用干硬性混凝土，通过芯模振动，管口挤压成型。芯模振动的产生，主要靠转轴上的偏心块，偏心块的数量取决于管长。振动频率的高低主要取决于管径和壁厚，根据管径和壁厚，频率在0-75Hz可调，也可以调整振幅，通过对振动频率和振幅的调整，可以产生最佳的振动力密实混凝土，从而得到高强度的管体混凝土。芯模振动工艺自动化程度高，其布料过程，振动过程，听听泉州砖机。管口挤压过程均通过程序控制自动完成，所以该工艺生产的管材混凝土强度高、抗渗性好、抗外压能力强，允许顶力大，生产效率高。</div>
<div>
	&nbsp;</div>
<div>
	综上所述，芯模振动工艺生产钢筋混凝土排水管与其他工艺比较，具有以下优点：</div>
<div>
	&nbsp;</div>
<div>
	1. 管体混凝土强度高，可达到C50以上，不会出现离心工艺混凝土分层现象，由于振动力由内向外传递，管体混凝土强度均匀，管体内壁耐磨性能好。</div>
<div>
	&nbsp;</div>
<div>
	2. 管体承插口端面平整，强度高，由于成型承插口端面时，芯模振动工艺采用振动与挤压方式成型承插口端面，所以承插口端面非常平整，端面平整度小于1mm，端面倾斜度在0.6--1%之间，采用干硬性混凝土，不会出现立式振捣工艺，管体端面混凝土离析所造成混凝土强度低的现象，所以芯模振动工艺生产的管体端面强度高，能承受较大的轴向顶力，而管口不易破损。</div>
<div>
	&nbsp;</div>
<div>
	3. 钢筋环网位置准确，不会出现悬辊工艺钢筋位移、跳筋、并筋、散筋现象，管体抗渗性能好，可保证百分之百不漏水，管子整体结构强度高，可抵抗较大的外压荷载。</div>
<div>
	&nbsp;</div>
<div>
	4. 芯模振动工艺一种型号管只用一套内外模，管子外形尺寸准确统一。</div>
<div>
	&nbsp;</div>
<div>
	5. 可以生产各种异形管。如椭圆形管、带基础底座管、插口带胶圈槽顶管、箱涵等。</div>
<div>
	&nbsp;</div>
<div>
	6. 可生产最大口径达3500mm大直径钢筋混凝土排水管。</div>
<div>
	&nbsp;</div>
<div>
	7. 自动化程度高、劳动强度低、生产效率高。</div>
<div>
	&nbsp;</div>
<div>
	8. 节能、环保，生产过程中不产生废浆液。</div>
<div>
 <div style="text-align: center;">

	
	</div>

<div id="metinfo_additional"></div></div><div class="clear"></div></div>
			
            <div class="met_page"> </div>
        </div>

    </div>
    <div class="clear"></div>
</div>
	
<div class="sidebarBot inner"></div> 

<div id="page_footer">
	<div class="indexFooter inner">
<div class="foot-nav"><a href='37.html' title='公司简介'>公司简介</a><span>|</span><a href='2.html' title='产品展示'>产品展示</a><span>|</span><a href='39.html' title='荣誉资质'>荣誉资质</a><span>|</span><a href='' title='施工流程'>施工流程</a><span>|</span><a href='1.html' title='最新动态'>最新动态</a><span>|</span><a href='38.html' title='联系我们'>联系我们</a></div>
		<div class="foot-text">
			<p>银川弘瑞达工贸有限公司 版权所有 2008-2015 <a href="javascript:;" target="_blank">宁ICP备10200065号-1</a> </p>
<p>地址:宁夏永宁县望远镇西位路南侧、红旗路西侧
 电话:13323597952 E-mail:lijun_7300@126.com 网络技术支持：<a href="javascript:;" target="_blank">银川华邦网络</a></p>
<p></p>

            
		</div>	</div>
</div>

</body>
</html>