{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    新闻资讯-银川弘瑞达工贸有限公司
{% endblock %}
{% block meta_1 %}<meta name="keywords" content="">{% endblock %}
{% block meta_2 %}<meta name="keywords" content="新闻资讯">{% endblock %}

{% block content %}
<div id="page_header">
     <div class="metHeader inner">
	     <div class="logo fl">
<img src="{% static '/picture/logo.png' %}" alt="银川弘瑞达工贸有限公司">

         </div>
		 <div class="clear"></div>
		 <div class="metLang"><img src="{% static '/picture/tel1.png' %}"></div> 
	 </div>
	 <nav class="metNav inner pr"><ul class="list-none">
	 <li id="nav_10001" style='width:139px;' class='navdown'><a href='index.html' title='网站首页' class='nav'><span>网站首页</span></a></li><li class="line"></li>
	 
	 <li id='nav_68' style='width:139px;'><a href='37.html' 0="" title='关于我们' class='hover-none nav'><span>关于我们</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_69' style='width:138px;'><a href='' title='新闻资讯' class='hover-none nav'><span>新闻资讯</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_70' style='width:138px;'><a href='2.html' title='产品展示' class='hover-none nav'><span>产品展示</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_71' style='width:138px;'><a href='39.html' 0="" title='荣誉资质' class='hover-none nav'><span>荣誉资质</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_74' style='width:138px;'><a href='' title='施工流程' class='hover-none nav'><span>施工流程</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_75' style='width:138px;'><a href='38.html' title='联系我们' class='hover-none nav'><span>联系我们</span></a></li>
	 </ul></nav>

     <div class="FlashKj">
	 <div class="metFlash inner pr">
			 <div class="flash">
<script src="{% static '/js/hd.js' %}" type="text/javascript"></script>
</div>
		     <div class="clear"></div>
	 </div>
	 </div>

</div><div class="sidebar inner">
    <div class="sb_nav fl">
	     <div class="topSb_nav"></div>

			<h3 class='sbNavTitle'>栏目导航</h3>
			<div class="sbNavList" id="sidebar" data-csnow="69" data-class3="0" data-jsok="2">
			 
		   	
			<dl class="list-none navnow"><dt id='part2_83'><a href='181.html' class="zm"><span>关于我们</span></a></dt></dl>
			  	
			<dl class="list-none navnow"><dt id='part2_83'><a href='2.html' class="zm"><span>产品展示</span></a></dt></dl>
			  	
			<dl class="list-none navnow"><dt id='part2_83'><a href='' class="zm"><span>新闻资讯</span></a></dt></dl>
			  		   
			<div class="clear"></div></div>

			<h3 class='sb2NavTitle line'>联系方式</h3>
			<div class="sbNavBox editor"><span style="line-height: 2;"><strong>地址：</strong>银川市金凤区植物园西五公里</span>
<div>
	<strong>电话：</strong>13323597952</div>
<div>
	<strong>手机：</strong>18909517952</div>
<div>
	<strong>联系人：</strong>陈先生</div>
<div>
	<strong>邮政编号：</strong>750011<br>
	<strong>网站：</strong>www.nxhrd.net<br>
	<strong>邮箱：</strong>lijun_7300@126.com</div>
<div class="clear"></div></div>
			<div class="sb_navB"></div>
    </div>
    <div class="sb_box fr">
		<h3 class="sb_boxTitle"><a href="">新闻资讯</a></h3>
		<div class="clear"></div>

        <div class="active" id="newslist">
			<ul class='list-none metlist'>
						 <li class='list'><span>15-04-18</span><a href='11.html' target='_self'>弘瑞达新闻:钢筋混凝土排水管生产工艺</a><p>
			 
	目前，在国内水泥制品中，大中口径钢筋混凝土排水管生产工艺主要有离心、悬辊、立式振捣、芯模振动四种工艺。我们通过对这四种工艺在生产实践中的应用，以及工艺特点的分析，发现芯模振动工艺生产钢筋混凝土排水管，在产品质量、生产效率、劳动强度、节能、环保等方面均优于其他工艺。

	</p></li>
			 
			 			 <li class='list'><span>15-04-18</span><a href='21.html' target='_self'>重型钢筋混凝土排水管排管方法有哪些？</a><p>
			 
	&lt;1&gt;承口内表和插口外表均应将油污、杂物清除干净。

	&nbsp;

	&lt;2&gt;四周应均匀平顺、无扭曲。

	&nbsp;

	&lt;3&gt;将一只管节凿成两个半节管子，带承口的外节管子排在窨井的进水方向，带插口的半节管子排在窨井</p></li>
			 
			 			 <li class='list'><span>15-04-18</span><a href='3.html' target='_self'>钢筋混凝土排水管或将“遇水重生”</a><p>
			 
	7月31日，国务院总理李克强主持召开国务院常务会议，研究部署加强城市基础设施建设。其中提到完善城镇供水设施，提升城市防涝能力。这是李克强总理在近1个半月内第三次提及城市地下管网为城市基础设施的薄弱环节，要重点加大投资。为了治理城市内涝问题，住房和城乡建设部也已经于7月上旬印</p></li>
			 
			 			 <li class='list'><span>15-04-18</span><a href='4.html' target='_self'>混凝土排水管水压试验装置</a><p>
			 
	按照输水管产品生产许可证实施细则要求，混凝土排水管需要进行耐水压试验。用于检验的水压试验装置也成为水压机，基本结构是通过拉杆将两片刚性端板固定在排水管两端。为保证在规定的水压下的密封性，管端部与刚性端板接触部分填充弹性材料。

	&nbsp;

	试验装置端板与排水</p></li>
			 
			 			 <li class='list'><span>15-04-18</span><a href='5.html' target='_self'>钢筋混凝土排水管成型与制管工艺和装备的适应性</a><p>
			 
	一、概述

	&nbsp;

	混凝土与钢筋混凝土排水管的制作、使用在我国已有一百多年了。管子最初的制作方法采用的是简单的手工振捣成型，仅只能生产较短的小口径平口管。

	&nbsp;

	从新中国成立到现在，随着国民经济快速发展，排水管使用要求越来越高，生</p></li>
			 
			 			 <li class='list'><span>15-04-18</span><a href='6.html' target='_self'>钢筋混凝土管、塑料管等腐蚀的影响因素</a><p>
			 
	钢筋混凝土管、塑料管等腐蚀的影响因素有哪些？腐蚀的影响因素主要有以下几种：

	&nbsp;

	（1）水的pH值。管道中的铁细菌和硫酸盐还原菌适宜生活在中性和偏酸性介质中，当pH在8.0时，它们的生长就受到抑制，pH在8.4以上时基本不生长。试验表明pH在5.96</p></li>
			 
			 			 <li class='list'><span>15-04-18</span><a href='7.html' target='_self'>钢筋混凝土排水管分类是什么</a><p>
			 
	钢筋混凝土管是顶管中使用得最多的一种管材，且主要用于下水道中。

	&nbsp;

	有时需用钢管做外壳，里面再浇上钢筋混凝土，可用于超长距离顶管施工。

	&nbsp;

	钢筋混凝土管道按接口形式可分为：平口式（P）、企口式（Q）、双插口式（S）、钢承口</p></li>
			 
			 			 <li class='list'><span>15-04-18</span><a href='8.html' target='_self'>钢筋混凝土排水管涵的质量要求有哪些</a><p>
			 
	所购预制件成品表面应平整，无蜂窝、麻面、离折、坑洞、破角，无外部涂刷痕迹，外形轮廓清晰，线条顺直，无翘曲现象，管节端面应平整。

	&nbsp;

	运输与装卸过程中采用防碰撞措施，严禁野蛮施工。所采购的管节必须是通过检测部门检测合格的批次产品，并有生产厂家的产品合</p></li>
			 
			 			 <li class='list'><span>15-04-18</span><a href='9.html' target='_self'>钢筋混凝土排水管顶管</a><p>
			 
	【提问】钢筋混凝土套管顶管施工套用什么定额，是按米算还是按个算？

	&nbsp;

	【答案】学员dgtg123你好，您的问题答复如下：

	&nbsp;

	钢筋混凝土套管顶管施工套用什么定额，是按米算还是按个算市政工程中专有顶管施工的子目，是按米计算的</p></li>
			 
			 			 <li class='list'><span>15-04-18</span><a href='10.html' target='_self'>钢管及钢筋混凝土排水管如何接缝呢</a><p>
			 
	【提问】钢管及钢筋混凝土管如何接缝呢？用什么材料，注意什么，要进行什么样的试验检验？

	&nbsp;

	【回答】学员1103278507，您好！您的问题答复如下：

	&nbsp;

	接头根据工也不同处理方法也不同，一般有两种处理方法，一是用水泥桨对管</p></li>
			 
			 			 
			
			</ul>
			
		</div>
		<div style="clear:both"></div>
<div id="flip"><div class='digg4 metpager_8'>    
			   <a href=''>第一页</a> <a href=''>1</a> <a href='1-2.html'>2</a> <a href='1-2.html'>最后一页</a> 			</div></div>
    </div>
    <div class="clear"></div>
</div>
	
<div class="sidebarBot inner"></div> 
<div id="page_footer">
	<div class="indexFooter inner">

<div class="foot-nav"><a href='37.html' title='公司简介'>公司简介</a><span>|</span><a href='2.html' title='产品展示'>产品展示</a><span>|</span><a href='39.html' title='荣誉资质'>荣誉资质</a><span>|</span><a href='' title='施工流程'>施工流程</a><span>|</span><a href='' title='最新动态'>最新动态</a><span>|</span><a href='38.html' title='联系我们'>联系我们</a></div>
		<div class="foot-text">
			<p>银川弘瑞达工贸有限公司 版权所有 2008-2015 <a href="javascript:;" target="_blank">宁ICP备10200065号-1</a> </p>
<p>地址:宁夏永宁县望远镇西位路南侧、红旗路西侧
 电话:13323597952 E-mail:lijun_7300@126.com 网络技术支持：<a href="javascript:;" target="_blank">银川华邦网络</a></p>
<p></p>

            
		</div>	</div>
</div>
{% endblock %}