<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title> 钢筋混泥土排水管系列-企口管-银川弘瑞达工贸有限公司</title>
<meta name="description" content="">
<meta name="keywords" content="&nbsp; &nbsp;	">
<link rel="stylesheet" type="text/css" href="static/css/metinfo_ui.css">
<link rel="stylesheet" type="text/css" href="static/css/metinfo.css">
<script src="http://www.nxhrd.net/templets/default/js/jQuery1.7.2.js" type="text/javascript"></script>
<script src="http://www.nxhrd.net/templets/default/js/metinfo_ui.js" type="text/javascript"></script>
<!--[if IE]>
<script src="../public/js/html5.js" type="text/javascript"></script>
<![endif]-->
</head>
<body>
<div id="page_header">
     <div class="metHeader inner">
	     <div class="logo fl">
<img src="static/picture/logo.png" alt="银川弘瑞达工贸有限公司">

         </div>
		 <div class="clear"></div>
		 <div class="metLang"><img src="static/picture/tel.png"></div> 
	 </div>
	 <nav class="metNav inner pr"><ul class="list-none">
	 <li id="nav_10001" style='width:139px;' class='navdown'><a href='index.html' title='网站首页' class='nav'><span>网站首页</span></a></li><li class="line"></li>
	 
	 <li id='nav_68' style='width:139px;'><a href='37.html' 0="" title='关于我们' class='hover-none nav'><span>关于我们</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_69' style='width:138px;'><a href='1.html' title='新闻资讯' class='hover-none nav'><span>新闻资讯</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_70' style='width:138px;'><a href='2.html' title='产品展示' class='hover-none nav'><span>产品展示</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_71' style='width:138px;'><a href='39.html' 0="" title='荣誉资质' class='hover-none nav'><span>荣誉资质</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_74' style='width:138px;'><a href='' title='施工流程' class='hover-none nav'><span>施工流程</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_75' style='width:138px;'><a href='38.html' title='联系我们' class='hover-none nav'><span>联系我们</span></a></li>
	 </ul></nav>

     <div class="FlashKj">
	 <div class="metFlash inner pr">
			 <div class="flash">
<script src="static/js/hd.js" type="text/javascript"></script>
</div>
		     <div class="clear"></div>
	 </div>
	 </div>

</div>
<div class="sidebar inner">
    <div class="sb_nav fl">
	     <div class="topSb_nav"></div>

			<h3 class='sbNavTitle'>栏目导航</h3>
			<div class="sbNavList" id="sidebar" data-csnow="69" data-class3="0" data-jsok="2">
			 		   
			<dl class="list-none navnow"><dt id='part2_83'><a href='181.html' class="zm"><span>关于我们</span></a></dt></dl>
			   
			<dl class="list-none navnow"><dt id='part2_83'><a href='2.html' class="zm"><span>产品展示</span></a></dt></dl>
			   
			<dl class="list-none navnow"><dt id='part2_83'><a href='1.html' class="zm"><span>新闻资讯</span></a></dt></dl>
			  
 
			<div class="clear"></div></div>

			<h3 class='sb2NavTitle line'>联系方式</h3>
			<div class="sbNavBox editor"><span style="line-height: 2;"><strong>地址：</strong>银川市金凤区植物园西五公里</span>
<div>
	<strong>电话：</strong>13323597952</div>
<div>
	<strong>手机：</strong>18909517952</div>
<div>
	<strong>联系人：</strong>陈先生</div>
<div>
	<strong>邮政编号：</strong>750011<br>
	<strong>网站：</strong>www.nxhrd.net<br>
	<strong>邮箱：</strong>lijun_7300@126.com</div>
<div class="clear"></div></div>
			<div class="sb_navB"></div>
    </div>
    <div class="sb_box fr">
		<h3 class="sb_boxTitle"><a href="2.html">产品展示</a></h3>
		<div class="clear"></div>

        <div class="active" id="shownews">
            <h1 class="title"> 钢筋混泥土排水管系列-企口管</h1>
            <div class="editor"><div style="text-align: center;">&nbsp; &nbsp;	<img alt="" src="static/picture/1-150422220136336.jpg" style="width: 609px; height: 460px;"></div><div>
 <div style="text-align: center;">

	
	</div>

<div id="metinfo_additional"></div></div><div class="clear"></div></div>
			
            <div class="met_page"> </div>
        </div>

    </div>
    <div class="clear"></div>
</div>
	
<div class="sidebarBot inner"></div> 

<div id="page_footer">
	<div class="indexFooter inner">
<div class="foot-nav"><a href='37.html' title='公司简介'>公司简介</a><span>|</span><a href='2.html' title='产品展示'>产品展示</a><span>|</span><a href='39.html' title='荣誉资质'>荣誉资质</a><span>|</span><a href='' title='施工流程'>施工流程</a><span>|</span><a href='1.html' title='最新动态'>最新动态</a><span>|</span><a href='38.html' title='联系我们'>联系我们</a></div>
		<div class="foot-text">
			<p>银川弘瑞达工贸有限公司 版权所有 2008-2015 <a href="javascript:;" target="_blank">宁ICP备10200065号-1</a> </p>
<p>地址:宁夏永宁县望远镇西位路南侧、红旗路西侧
 电话:13323597952 E-mail:lijun_7300@126.com 网络技术支持：<a href="javascript:;" target="_blank">银川华邦网络</a></p>
<p></p>

            
		</div>	</div>
</div>

</body>
</html>