{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    新闻资讯-银川弘瑞达工贸有限公司
{% endblock %}
{% block meta_1 %}<meta name="keywords" content="">{% endblock %}
{% block meta_2 %}<meta name="keywords" content="新闻资讯">{% endblock %}

{% block content %}
<div class="sidebar inner">
    <div class="sb_nav fl">
	     <div class="topSb_nav"></div>

			<h3 class='sbNavTitle'>栏目导航</h3>
			<div class="sbNavList" id="sidebar" data-csnow="69" data-class3="0" data-jsok="2">
			 
		   	
			<dl class="list-none navnow"><dt id='part2_83'><a href='181.html' class="zm"><span>关于我们</span></a></dt></dl>
			  	
			<dl class="list-none navnow"><dt id='part2_83'><a href='' class="zm"><span>产品展示</span></a></dt></dl>
			  	
			<dl class="list-none navnow"><dt id='part2_83'><a href='1.html' class="zm"><span>新闻资讯</span></a></dt></dl>
			  		   
			<div class="clear"></div></div>

			<h3 class='sb2NavTitle line'>联系方式</h3>
			<div class="sbNavBox editor"><span style="line-height: 2;"><strong>地址：</strong>银川市金凤区植物园西五公里</span>
<div>
	<strong>电话：</strong>13323597952</div>
<div>
	<strong>手机：</strong>18909517952</div>
<div>
	<strong>联系人：</strong>陈先生</div>
<div>
	<strong>邮政编号：</strong>750011<br>
	<strong>网站：</strong>www.nxhrd.net<br>
	<strong>邮箱：</strong>lijun_7300@126.com</div>
<div class="clear"></div></div>
			<div class="sb_navB"></div>
    </div>
    <div class="sb_box fr">
		<h3 class="sb_boxTitle"><a href="">产品展示</a></h3>
		<div class="clear"></div>

        <div class="active" id="newslist">
			<ul class='list-none metlist'>
			 
<dd class="pic">
<a href="12.html" target="_blank"><img src="static/picture/1-150422220136336.jpg" width="200" height="200"></a>

<p><a href="12.html" target="_blank"> 钢筋混泥土排水管系列-企口管</a></p>
</dd>
 
<dd class="pic">
<a href="13.html" target="_blank"><img src="static/picture/1-1504222202562S.jpg" width="200" height="200"></a>

<p><a href="13.html" target="_blank"> 钢筋混泥土排水管系列-平口管</a></p>
</dd>
 
<dd class="pic">
<a href="14.html" target="_blank"><img src="static/picture/1-150422220403245.jpg" width="200" height="200"></a>

<p><a href="14.html" target="_blank"> 钢筋混凝土承插口排水管</a></p>
</dd>
 
<dd class="pic">
<a href="15.html" target="_blank"><img src="static/picture/1-1504222205014C.jpg" width="200" height="200"></a>

<p><a href="15.html" target="_blank"> 钢筋混凝土平口排水管</a></p>
</dd>
 
<dd class="pic">
<a href="16.html" target="_blank"><img src="static/picture/1-150422220541J0.jpg" width="200" height="200"></a>

<p><a href="16.html" target="_blank"> 钢筋混凝土下顶管</a></p>
</dd>
 
<dd class="pic">
<a href="17.html" target="_blank"><img src="static/picture/1-1504222206411O.jpg" width="200" height="200"></a>

<p><a href="17.html" target="_blank"> 钢筋钢筋混凝土承插口内衬</a></p>
</dd>
 
<dd class="pic">
<a href="18.html" target="_blank"><img src="static/picture/1-150422220J3115.jpg" width="200" height="200"></a>

<p><a href="18.html" target="_blank"> 银川弘瑞达产品系列-顶管</a></p>
</dd>
			 
			
			</ul>
			
		</div>
		<div style="clear:both"></div>
<div id="flip"><div class='digg4 metpager_8'>    
			   <a href=''>第一页</a> <a href=''>1</a> <a href=''>最后一页</a> 			</div></div>
    </div>
    <div class="clear"></div>
</div>
	
<div class="sidebarBot inner"></div> 
<div id="page_footer">
	<div class="indexFooter inner">

<div class="foot-nav"><a href='37.html' title='公司简介'>公司简介</a><span>|</span><a href='' title='产品展示'>产品展示</a><span>|</span><a href='39.html' title='荣誉资质'>荣誉资质</a><span>|</span><a href='' title='施工流程'>施工流程</a><span>|</span><a href='1.html' title='最新动态'>最新动态</a><span>|</span><a href='38.html' title='联系我们'>联系我们</a></div>
		<div class="foot-text">
			<p>银川弘瑞达工贸有限公司 版权所有 2008-2015 <a href="javascript:;" target="_blank">宁ICP备10200065号-1</a> </p>
<p>地址:宁夏永宁县望远镇西位路南侧、红旗路西侧
 电话:13323597952 E-mail:lijun_7300@126.com 网络技术支持：<a href="javascript:;" target="_blank">银川华邦网络</a></p>
<p></p>

            
		</div>	</div>
</div>
{% endblock %}