{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    公司简介-银川弘瑞达工贸有限公司
{% endblock %}
{% block meta_1 %}<meta name="description" content="">{% endblock %}
{% block meta_2 %}<meta name="keywords" content="银川弘瑞达工贸有限公司(原银川志城建材厂)是专业生产水泥制品的企业。公司地处银川市金凤区植物园西五公里处，占地面积35亩，拥有固定资产400多万元;公司的主营产品有钢筋混凝土排水管、公路涵管、钢纤维混凝土检查井盖、钢纤维混凝土雨水井、水泥瓦，及根据用户要求可订做各种水泥盖板和其他异型水泥构件。">
{% endblock %}

{% block content %}
<div class="sidebar inner">
    <div class="sb_nav fl">
	     <div class="topSb_nav"></div>

			<h3 class='sbNavTitle'>栏目导航</h3>
			<div class="sbNavList" id="sidebar" data-csnow="69" data-class3="0" data-jsok="2">
			 		   
			<dl class="list-none navnow"><dt id='part2_83'><a href='181.html' class="zm"><span>关于我们</span></a></dt></dl>
			   
			<dl class="list-none navnow"><dt id='part2_83'><a href='2.html' class="zm"><span>产品展示</span></a></dt></dl>
			   
			<dl class="list-none navnow"><dt id='part2_83'><a href='1.html' class="zm"><span>新闻资讯</span></a></dt></dl>
			  
 
			<div class="clear"></div></div>

			<h3 class='sb2NavTitle line'>联系方式</h3>
			<div class="sbNavBox editor"><span style="line-height: 2;"><strong>地址：</strong>银川市金凤区植物园西五公里</span>
<div>
	<strong>电话：</strong>13323597952</div>
<div>
	<strong>手机：</strong>18909517952</div>
<div>
	<strong>联系人：</strong>陈先生</div>
<div>
	<strong>邮政编号：</strong>750011<br>
	<strong>网站：</strong>www.nxhrd.net<br>
	<strong>邮箱：</strong>lijun_7300@126.com</div>
<div class="clear"></div></div>
			<div class="sb_navB"></div>
    </div>
    <div class="sb_box fr">
		<h3 class="sb_boxTitle"><a href="181.html">关于我们</a></h3>
		<div class="clear"></div>

        <div class="active" id="shownews">
            <h1 class="title">公司简介</h1>
            <div class="editor"><p>银川弘瑞达工贸有限公司(原银川志城建材厂)是专业生产水泥制品的企业。公司地处银川市金凤区植物园西五公里处，占地面积35亩，拥有固定资产400多万元;公司的主营产品有钢筋混凝土排水管、公路涵管、钢纤维混凝土检查井盖、钢纤维混凝土雨水井、水泥瓦，及根据用户要求可订做各种水泥盖板和其他异型水泥构件。</p><p>&nbsp;</p><p>我公司具有国家颁发的全国工业产品生产许可证书，所有产品每年经宁夏回族自治区建筑材料产品质量监督检验站检验均为合格产品。公司设有实验室，配备专业的检验设备(仪器)和人员，对所生产所需的原材料和销售的产品都认真检验，检验合格后才能使用和销售。</p><p>&nbsp;</p><p>公司年生产能力为钢筋混凝土排水管约36公里，公路涵管约9公里，钢纤维混凝土检查井盖2万多套，钢纤维混凝土雨水井7千多套、水泥瓦100多万块。产品远销甘肃、内蒙古、陕西等地方。受到用户的一致好评和认可。经过十几年的发展，我公司管理水平不断提高，质量逐步提升，公司已具较大规模，现年销售额已过千万。我公司始终坚持“开拓市场，质量第一;用户至上、信誉第一;创优降耗、效益第一;文明生产、安全第一”的公司方针。</p><p>&nbsp;</p><p>我公司全体员工正大力弘扬“团结奋斗、勇于开拓、争创一流”的企业精神，坚特诚信为本的原则，以顾客为关注焦点，持续改进，确保公司水泥制品及服务满足市场和用户的需求，不断增进顾客满意，以优质的产品和优良的服务回报社会!</p><p>&nbsp;</p><p>银川弘瑞达工贸有限公司真诚欢迎新老客户光临惠顾、洽谈业务!</p><div>
 <div style="text-align: center;">

	
	</div>

<div id="metinfo_additional"></div></div><div class="clear"></div></div>
			
            <div class="met_page"> </div>
        </div>

    </div>
    <div class="clear"></div>
</div>
	
<div class="sidebarBot inner"></div> 

<div id="page_footer">
	<div class="indexFooter inner">
<div class="foot-nav"><a href='' title='公司简介'>公司简介</a><span>|</span><a href='2.html' title='产品展示'>产品展示</a><span>|</span><a href='39.html' title='荣誉资质'>荣誉资质</a><span>|</span><a href='' title='施工流程'>施工流程</a><span>|</span><a href='1.html' title='最新动态'>最新动态</a><span>|</span><a href='38.html' title='联系我们'>联系我们</a></div>
		<div class="foot-text">
			<p>银川弘瑞达工贸有限公司 版权所有 2008-2015 <a href="javascript:;" target="_blank">宁ICP备10200065号-1</a> </p>
<p>地址:宁夏永宁县望远镇西位路南侧、红旗路西侧
 电话:13323597952 E-mail:lijun_7300@126.com 网络技术支持：<a href="javascript:;" target="_blank">银川华邦网络</a></p>
<p></p>

            
		</div>	</div>
</div>
{% endblock %}