{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    新闻资讯-银川弘瑞达工贸有限公司
{% endblock %}
{% block meta_1 %}<meta name="keywords" content="">{% endblock %}
{% block meta_2 %}<meta name="keywords" content="新闻资讯">{% endblock %}

{% block content %}
<div class="sidebar inner">
    <div class="sb_nav fl">
	     <div class="topSb_nav"></div>

			<h3 class='sbNavTitle'>栏目导航</h3>
			<div class="sbNavList" id="sidebar" data-csnow="69" data-class3="0" data-jsok="2">
			 		   
			<dl class="list-none navnow"><dt id='part2_83'><a href='181.html' class="zm"><span>关于我们</span></a></dt></dl>
			   
			<dl class="list-none navnow"><dt id='part2_83'><a href='2.html' class="zm"><span>产品展示</span></a></dt></dl>
			   
			<dl class="list-none navnow"><dt id='part2_83'><a href='1.html' class="zm"><span>新闻资讯</span></a></dt></dl>
			  
 
			<div class="clear"></div></div>

			<h3 class='sb2NavTitle line'>联系方式</h3>
			<div class="sbNavBox editor"><span style="line-height: 2;"><strong>地址：</strong>银川市金凤区植物园西五公里</span>
<div>
	<strong>电话：</strong>13323597952</div>
<div>
	<strong>手机：</strong>18909517952</div>
<div>
	<strong>联系人：</strong>陈先生</div>
<div>
	<strong>邮政编号：</strong>750011<br>
	<strong>网站：</strong>www.nxhrd.net<br>
	<strong>邮箱：</strong>lijun_7300@126.com</div>
<div class="clear"></div></div>
			<div class="sb_navB"></div>
    </div>
    <div class="sb_box fr">
		<h3 class="sb_boxTitle"><a href="181.html">关于我们</a></h3>
		<div class="clear"></div>

        <div class="active" id="shownews">
            <h1 class="title">  联系我们</h1>
            <div class="editor"><p>地址：宁夏永宁县望远镇西位路南侧、红旗路西侧</p><p>电话：13323597952</p><p>手机：18909517952</p><p>联系人：陈先生</p><p>邮政编号：750011</p><p>网站：www.nxhrd.net</p><p>邮箱：lijun_7300@126.com</p><div>
 <div style="text-align: center;">

	
	</div>

<div id="metinfo_additional"></div></div><div class="clear"></div></div>
			
            <div class="met_page"> </div>
        </div>

    </div>
    <div class="clear"></div>
</div>
	
<div class="sidebarBot inner"></div> 

<div id="page_footer">
	<div class="indexFooter inner">
<div class="foot-nav"><a href='37.html' title='公司简介'>公司简介</a><span>|</span><a href='2.html' title='产品展示'>产品展示</a><span>|</span><a href='39.html' title='荣誉资质'>荣誉资质</a><span>|</span><a href='' title='施工流程'>施工流程</a><span>|</span><a href='1.html' title='最新动态'>最新动态</a><span>|</span><a href='' title='联系我们'>联系我们</a></div>
		<div class="foot-text">
			<p>银川弘瑞达工贸有限公司 版权所有 2008-2015 <a href="javascript:;" target="_blank">宁ICP备10200065号-1</a> </p>
<p>地址:宁夏永宁县望远镇西位路南侧、红旗路西侧
 电话:13323597952 E-mail:lijun_7300@126.com 网络技术支持：<a href="javascript:;" target="_blank">银川华邦网络</a></p>
<p></p>

            
		</div>	</div>
</div>
{% endblock %}