{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% block title %}{% endblock %}</title>
{% block meta_1 %}{% endblock %}
{% block meta_2 %}{% endblock %}
{% block meta_3 %}{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static '/css/metinfo_ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/metinfo.css' %}">
<script src="{% static '/js/jQuery1.7.2.js'%}" type="text/javascript"></script>
<script src="{% static '/js/metinfo_ui.js' %}" type="text/javascript"></script>
<!--[if IE]>
<script src="../public/js/html5.js" type="text/javascript"></script>
<![endif]-->
</head>
<body>
	<div id="page_header">
     <div class="metHeader inner">
	     <div class="logo fl">
			<img src="{% static '/picture/logo.png' %}" alt="银川弘瑞达工贸有限公司">
         </div>
		 <div class="clear"></div>
		 <div class="metLang"><img src="{% static '/picture/tel1.png' %}"></div> 
	 </div>
	 <nav class="metNav inner pr"><ul class="list-none">
	 <li id="nav_10001" style='width:139px;' class='navdown'><a href="{% url 'home' %}" title='网站首页' class='nav'><span>网站首页</span></a></li><li class="line"></li>
	 
     <li id='nav_68' style='width:139px;' ><a href="{% url 'business_menu' %}" 0 title='关于我们' class='hover-none nav'><span>关于我们</span></a></li>
     
	 <li class="line"></li>
	 
	 <li id='nav_69' style='width:138px;' ><a href="{% url 'business_news' %}"  title='新闻资讯' class='hover-none nav'><span>新闻资讯</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_70' style='width:138px;' ><a href='/list/2.html'  title='产品展示' class='hover-none nav'><span>产品展示</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_71' style='width:138px;' ><a href='/content/39.html' 0 title='荣誉资质' class='hover-none nav'><span>荣誉资质</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_74' style='width:138px;' ><a href=''  title='施工流程' class='hover-none nav'><span>施工流程</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_75' style='width:138px;' ><a href='/content/38.html'  title='联系我们' class='hover-none nav'><span>联系我们</span></a></li>
	 </ul>
	</nav>

     <div class="FlashKj">
		 <div class="metFlash inner pr">
			<div class="flash">
			<script src="{% static '/js/hd.js' %}" type="text/javascript"></script>
			</div>
	     	<div class="clear"></div>
		 </div>
	 </div>

</div>
{% block content %}{% endblock %}
</body>
</html>