{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>宁夏水泥管道_内蒙水泥管道 - 银川市鑫兴鼎水泥制管厂【官网】</title>
    <!-- 引入Bootstrap核心样式文件（必须） -->
    <link rel="stylesheet" href="{% static '/bootstrap-3.3.7/css/bootstrap.css' %}">
    <!-- 你自己的样式或其他文件 -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!--站点图标-->
    <link rel="shortcut icon" href="{% static 'imgs/lk_favicon.ico' %}" type="image/x-icon">
</head>

<body>
<!--头部-->
<header id="lk_header">
    <!--上部分-->

    <!--下部分-->
    <nav class="navbar navbar-default navbar-static-top navbar-lk">
        <div class="container">
            <div class="collapse navbar-collapse" id="lk_nav">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="javascript:;">关于我们 </a></li>
                    <li><a href="javascript:;">课程介绍</a></li>
                    <li><a href="javascript:;">热门课程</a></li>
                    <li><a href="javascript:;">名师授课</a></li>
                    <li><a href="javascript:;">课堂互动</a></li>
                    <li><a href="javascript:;">联系我们</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                    <li><a href="#">个人中心</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--/头部-->

<script src="{% static 'jquery/jquery.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7/js/bootstrap.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script> 
</body>
</html>