<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>宁夏水泥管 银川砼管生产厂 钢筋混泥土排水管制作 水泥制品厂-银川弘瑞达工贸有限公司</title>
<meta name="description" content="银川弘瑞达工贸有限公司专业生产各种水泥管、钢筋混泥土排水管、砼管，欢迎大家前来咨询！">
<meta name="keywords" content="水泥管,钢筋混泥土排水管,砼管">
<meta http-equiv="x-ua-compatible" content="ie=7">
<link rel="stylesheet" type="text/css" href="static/css/metinfo_ui.css">
<link rel="stylesheet" type="text/css" href="static/css/metinfo.css">
<script src="http://www.nxhrd.net/images/jQuery1.7.2.js" type="text/javascript"></script>
<script src="http://www.nxhrd.net/images/metinfo_ui.js" type="text/javascript"></script>
<!--[if IE]>
<script src="public/js/html5.js" type="text/javascript"></script>
<![endif]-->
</head>
<body>


<div id="page_header">
     <div class="metHeader inner">
	     <div class="logo fl">
<img src="static/picture/logo.png" alt="银川弘瑞达工贸有限公司">

         </div>
		 <div class="clear"></div>
		 <div class="metLang"><img src="static/picture/tel.png"></div> 
	 </div>
	 <nav class="metNav inner pr"><ul class="list-none">
	 <li id="nav_10001" style='width:139px;' class='navdown'><a href='' title='网站首页' class='nav'><span>网站首页</span></a></li><li class="line"></li>
	 
	 <li id='nav_68' style='width:139px;'><a href='37.html' 0="" title='关于我们' class='hover-none nav'><span>关于我们</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_69' style='width:138px;'><a href='1.html' title='新闻资讯' class='hover-none nav'><span>新闻资讯</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_70' style='width:138px;'><a href='2.html' title='产品展示' class='hover-none nav'><span>产品展示</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_71' style='width:138px;'><a href='39.html' 0="" title='荣誉资质' class='hover-none nav'><span>荣誉资质</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_74' style='width:138px;'><a href='' title='施工流程' class='hover-none nav'><span>施工流程</span></a></li>
	 
	 <li class="line"></li>
	 
	 <li id='nav_75' style='width:138px;'><a href='38.html' title='联系我们' class='hover-none nav'><span>联系我们</span></a></li>
	 </ul></nav>

     <div class="FlashKj">
	 <div class="metFlash inner pr">
			 <div class="flash">
<script src="static/js/hd.js" type="text/javascript"></script>
</div>
		     <div class="clear"></div>
	 </div>
	 </div>

</div>
<section id="posts">
     <div class="metIndex inner">
	     <div class="metProduct fr inner pr">
		     <h3 class="h3Title pr">
			     <div class="Titlemark fl"></div>
                 <span class="fl"><b>产品展示</b></span>
				 <a href="javascript:;" class="metMore" title="产品展示" target='_self'>更多>></a>
             </h3>
			 <div class="metProductBox pr">
                 
		         <div class="pr clear">
			         <div class="profld pr">
					 <ol class='list-none metlist'>
 <div id="d_emo">
<div id="ind_emo">
<div id="d_emo1">
	
<li class='list ft'><a href='12.html' title=' 钢筋混泥土排水管系列-企口管' target='_self' class='img'><img src='static/picture/1-150422220136336.jpg' alt=' 钢筋混泥土排水管系列-企口管' width='222' height='180'></a><h3 style='width:222px;'><a href='12.html' title=' 钢筋混泥土排水管系列-企口管' target='_self'> 钢筋混泥土排水管系列-企口管</a></h3></li>

 	
<li class='list ft'><a href='13.html' title=' 钢筋混泥土排水管系列-平口管' target='_self' class='img'><img src='static/picture/1-1504222202562S.jpg' alt=' 钢筋混泥土排水管系列-平口管' width='222' height='180'></a><h3 style='width:222px;'><a href='13.html' title=' 钢筋混泥土排水管系列-平口管' target='_self'> 钢筋混泥土排水管系列-平口管</a></h3></li>

 	
<li class='list ft'><a href='14.html' title=' 钢筋混凝土承插口排水管' target='_self' class='img'><img src='static/picture/1-150422220403245.jpg' alt=' 钢筋混凝土承插口排水管' width='222' height='180'></a><h3 style='width:222px;'><a href='14.html' title=' 钢筋混凝土承插口排水管' target='_self'> 钢筋混凝土承插口排水管</a></h3></li>

 	
<li class='list ft'><a href='15.html' title=' 钢筋混凝土平口排水管' target='_self' class='img'><img src='static/picture/1-1504222205014C.jpg' alt=' 钢筋混凝土平口排水管' width='222' height='180'></a><h3 style='width:222px;'><a href='15.html' title=' 钢筋混凝土平口排水管' target='_self'> 钢筋混凝土平口排水管</a></h3></li>

 	
<li class='list ft'><a href='16.html' title=' 钢筋混凝土下顶管' target='_self' class='img'><img src='static/picture/1-150422220541J0.jpg' alt=' 钢筋混凝土下顶管' width='222' height='180'></a><h3 style='width:222px;'><a href='16.html' title=' 钢筋混凝土下顶管' target='_self'> 钢筋混凝土下顶管</a></h3></li>

 	
<li class='list ft'><a href='17.html' title=' 钢筋钢筋混凝土承插口内衬' target='_self' class='img'><img src='static/picture/1-1504222206411O.jpg' alt=' 钢筋钢筋混凝土承插口内衬' width='222' height='180'></a><h3 style='width:222px;'><a href='17.html' title=' 钢筋钢筋混凝土承插口内衬' target='_self'> 钢筋钢筋混凝土承插口内衬</a></h3></li>

 	
<li class='list ft'><a href='18.html' title=' 银川弘瑞达产品系列-顶管' target='_self' class='img'><img src='static/picture/1-150422220J3115.jpg' alt=' 银川弘瑞达产品系列-顶管' width='222' height='180'></a><h3 style='width:222px;'><a href='18.html' title=' 银川弘瑞达产品系列-顶管' target='_self'> 银川弘瑞达产品系列-顶管</a></h3></li>

 

				</div>
<div id="d_emo2"></div>
</div>
</div>
<script>
<!--
var speed_m=30;
var tab_0=document.getElementById("d_emo");
var tab_1=document.getElementById("d_emo1");
var tab_2=document.getElementById("d_emo2");
tab_2.innerHTML=tab_1.innerHTML;
function Marquee_m(){
if(tab_2.offsetWidth-tab_0.scrollLeft<=0)
tab_0.scrollLeft-=tab_1.offsetWidth
else{
tab_0.scrollLeft++;
}
}
var MyMar_m=setInterval(Marquee_m,speed_m);
tab_0.onmouseover=function() {clearInterval(MyMar_m)};
tab_0.onmouseout=function() {MyMar_m=setInterval(Marquee_m,speed_m)};
-->
</script>	 </ol>
					 </div>
		         </div>
			 </div>
		 </div>
	     <div class="leftIndex fl">
		         <h3 class="h3Title pr">
			         <div class="Titlemark fl"></div>
                     <span class="fl"><b>公司简介</b></span>
				     <a href="javascript:;" class="metMore" title="公司简介" target='_self'>更多>></a>
                 </h3>
				 <div class="contentBox editor dgOne">&#160; &#160; &#160; &#160;
				  银川弘瑞达工贸有限公司(原银川志城建材厂)是专业生产水泥制品的企业。公司地处银川市金凤区植物园西五公里处，占地面积35亩，拥有固定资产400多万元;公司的主营产品有钢筋混凝土排水管、公路涵管、钢纤维混凝土检查井盖、钢纤维混凝土雨水井、水泥瓦，及根据用户要求可订做各种水泥盖板和其他<div class="clear"></div></div>
                 <div class="contentBot"></div><div class="clear"></div>				 
		 </div>	 
		 <div class="centerIndex fl">
			     <h3 class="h3Title pr">
			         <div class="Titlemark fl"></div>
                     <span class="fl"><b>新闻资讯</b></span>
				     <a href="javascript:;" class="metMore" title="新闻资讯" target='_self'>更多>></a>
                 </h3>
			     <div class="contentNews dgOne clear"><ol class='list-none metlist'>
				 
		 
				 
<li class='list top'><span class='time'>15-04-18</span><a href='11.html' title='弘瑞达新闻:钢筋混凝土排水管生产工艺' target='_self'>弘瑞达新闻:钢筋混凝土排水管生产工艺</a></li>
				 
 		 
				 
<li class='list top'><span class='time'>15-04-18</span><a href='21.html' title='重型钢筋混凝土排水管排管方法有哪些？' target='_self'>重型钢筋混凝土排水管排管方法有哪些？</a></li>
				 
 		 
				 
<li class='list top'><span class='time'>15-04-18</span><a href='3.html' title='钢筋混凝土排水管或将“遇水重生”' target='_self'>钢筋混凝土排水管或将“遇水重生”</a></li>
				 
 		 
				 
<li class='list top'><span class='time'>15-04-18</span><a href='4.html' title='混凝土排水管水压试验装置' target='_self'>混凝土排水管水压试验装置</a></li>
				 
 		 
				 
<li class='list top'><span class='time'>15-04-18</span><a href='5.html' title='钢筋混凝土排水管成型与制管工艺和装备的适应性' target='_self'>钢筋混凝土排水管成型与制管工艺和装备的适应性</a></li>
				 
 		 
				 
<li class='list top'><span class='time'>15-04-18</span><a href='6.html' title='钢筋混凝土管、塑料管等腐蚀的影响因素' target='_self'>钢筋混凝土管、塑料管等腐蚀的影响因素</a></li>
				 
 
				</ol><div class="clear"></div></div>
				 <div class="contentNewsBot"></div><div class="clear"></div>	
				 
		 </div>
         <div class="rightIndex fr">
	             <h3 class="h3Title pr">
			         <div class="Titlemark fl"></div>
                     <span class="fl"><b>联系我们</b></span>
				     <a href="javascript:;" class="metMore" title="联系我们" target='_self'>更多>></a>
                 </h3>
                 <div class="indexBox dgOne editor"><span style="line-height: 2;"><strong>地址：</strong>宁夏永宁县望远镇西位路南侧、红旗路西侧
</span>
<div>
	<strong>电话：</strong>13323597952</div>
<div>
	<strong>手机：</strong>18909517952</div>
<div>
	<strong>联系人：</strong>陈先生</div>
<div>
	<strong>邮政编号：</strong>750011<br>
	<strong>网站：</strong>www.nxhrd.net<br>
	<strong>邮箱：</strong>lijun_7300@126.com</div>
<div class="clear"></div></div>
                 <div class="indexBoxBot"></div><div class="clear"></div>	    
		 </div>	
		 <div class="clear"></div>
     </div>
	 <div class="clear"></div>
</section>
<div id="page_footer">
	<div class="indexFooter inner">
		
<div class="hyperlink">
    <h3>友情链接:</h3>
	
	   <div class="WBtxt"><ul class='list-none'>
	   
<li><a href='javascript:;' target='_blank'>银川网站建设</a> </li>
		
<li><a href='javascript:;' target='_blank'>宁夏雨水井盖</a> </li>
		
</ul>
</div>
	
       <div class="clear"></div>
</div>
		<div class="foot-nav"><a href='37.html' title='公司简介'>公司简介</a><span>|</span><a href='2.html' title='产品展示'>产品展示</a><span>|</span><a href='39.html' title='荣誉资质'>荣誉资质</a><span>|</span><a href='' title='施工流程'>施工流程</a><span>|</span><a href='1.html' title='最新动态'>最新动态</a><span>|</span><a href='38.html' title='联系我们'>联系我们</a></div>
		<div class="foot-text">
			<p>银川弘瑞达工贸有限公司 版权所有 2008-2015 <a href="javascript:;" target="_blank">宁ICP备10200065号-1</a> </p>
<p>地址:宁夏永宁县望远镇西位路南侧、红旗路西侧
 电话:13323597952 E-mail:lijun_7300@126.com 网络技术支持：<a href="javascript:;" target="_blank">银川华邦网络</a></p>
<p></p>

            
		</div>	</div>
</div>
</body>
</html>
